:root {
    --main-blue: #007bff;
    --main-dark-blue: #0056b3;
}

.campaigns-list {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.campaigns-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.create-campaign-button {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--main-blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-campaign-button:hover {
    background-color: var(--main-dark-blue);
}

.campaign-item {
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.campaign-item:hover {
    background-color: #f0f0f0;
}

.campaign-item p {
    margin-top: 10px;
    color: #686868;
    font-size: 15px;
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.prev-page-button, .next-page-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--main-blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev-page-button:hover, .next-page-button:hover {
    background-color: var(--main-dark-blue);
}

.prev-page-button[disabled], .next-page-button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
}


.create-campaign-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-campaign-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.create-campaign-form button {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--main-blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-campaign-form button:hover {
    background-color: var(--main-dark-blue);
}

.campaign-details {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .campaign-details .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.campaign-details .update-and-delete {
    display: flex;
}

.update-and-delete .update-btn, .update-and-delete .delete-btn {
    padding: 10px 10px;
    margin: 0px 0px 0px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-and-delete .update-btn {
    background-color: #cccccc;
}

.update-and-delete .delete-btn {
    background-color: #f00;
    color: #fff;
} */

.campaign-details h2 {
    color: #333333;
    font-size: 24px;
}

.campaign-details p {
    color: #878787;
    margin-bottom: 10px;
}

.campaign-details .policies, .groups {
    margin: 20px auto;
}

.campaign-details .policies p, .groups p {
    margin: 5px auto;
}

.campaign-details .policies p:hover {
    color: var(--main-blue);
}
