.policy-details-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* .policy-details-container h2,
.policy-details-container h3 {
    margin-bottom: 10px;
} */

.policy-details-container p {
    margin-bottom: 5px;
    line-height: 1.5;
}

.policy-detail {
    padding: 5px 0;
}
