@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-blue: #007bff;
  --main-dark-blue: #0056b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Styles for the overall signup container */
.signup-container {
  max-width: 400px;
  margin: 10vh auto;
  padding: 40px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-container h1 {
  margin: 10px auto 30px;
  text-align: center;
}

.signup-container a {
  text-decoration: underline;
}

/* Styles for the signup form */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styles for input fields */
.signup-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* Styles for the submit button */
.signup-form button {
  padding: 10px 20px;
  color: #fff;
  background-color: var(--main-blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Change background color on hover for the submit button */
.signup-form button:hover {
  background-color: var(--main-dark-blue);
}

/* Styles for error messages */
.signup-form .error-message {
  color: #d9534f;
  font-size: 14px;
}


/* App.css */
.app {
  display: flex;
}

.sidebar {
  position: fixed;
  /* width: 200px; */
  height: 100%; /* Make sidebar full height */
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1; /* Ensure sidebar is above main content */
}

.sidebar h1 {
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a button {
  width: 100%;
  text-align: left;
}

.sidebar button {
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  background-color: #555;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #777;
}

.main-content {
  margin-left: 250px; /* Push main content to the right of the sidebar */
  margin-top: 35px; /* Push main content below the navbar */
  flex-grow: 1;
  padding: 20px;
}

.navbar {
  position: fixed;
  left: 250px; /* Start navbar after sidebar */
  top: 0;
  width: calc(100% - 250px); /* Adjust width to take sidebar into account */
  background-color: #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 2; Ensure navbar is above main content */
}

.navbar .back-btn {
  border-radius: 5px;
  margin: 0;
  padding: 10px;
  border: none;
  background-color: var(--main-blue);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar .back-btn:hover {
  background-color: var(--main-dark-blue);
}

.home {
  padding: 20px;
}

.active button {
  background-color: var(--main-blue);
  color: white;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.head h2 {
  margin-bottom: 0px;
}

.update-and-delete {
  display: flex;
}

.update-and-delete .update-btn, .update-and-delete .delete-btn {
  padding: 10px 10px;
  margin: 0px 0px 0px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-and-delete .update-btn {
  background-color: #cccccc;
}

.update-and-delete .delete-btn {
  background-color: #f00;
  color: #fff;
}

