* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the overall signup container */
.signup-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the signup form */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styles for input fields */
.signup-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* Styles for the submit button */
.signup-form button {
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Change background color on hover for the submit button */
.signup-form button:hover {
  background-color: #0056b3;
}

/* Styles for error messages */
.signup-form .error-message {
  color: #d9534f;
  font-size: 14px;
}


/* App.css */
.app {
  display: flex;
}

.sidebar {
  position: fixed;
  /* width: 200px; */
  height: 100%; /* Make sidebar full height */
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1; /* Ensure sidebar is above main content */
}

.sidebar h1 {
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a button {
  width: 100%;
  text-align: left;
}

.sidebar button {
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  background-color: #555;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #777;
}

.main-content {
  margin-left: 220px; /* Push main content to the right of the sidebar */
  margin-top: 35px; /* Push main content below the navbar */
  flex-grow: 1;
  padding: 20px;
}

.navbar {
  position: fixed;
  left: 220px; /* Start navbar after sidebar */
  top: 0;
  width: calc(100% - 220px); /* Adjust width to take sidebar into account */
  background-color: #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 2; Ensure navbar is above main content */
}

.navbar .back-btn {
  margin: 0;
  padding: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.home {
  padding: 20px;
}

.active button {
  background-color: #007bff;
  color: white;
}

